#main-content {
  margin-top: 0;
  height: calc(100vh - 176px);
}

#breadcrumb-nav {
  width: 100%;
  height: 48px;
}

#breadcrumb {
  width: 100%;
  height: 100%;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 64px 0 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #1565c0;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #003c8f;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #d32f2f;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0 20px;
  color: #333;
  font-style: italic;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#img-container {
  padding: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.column-drop {
  display: flex;
}

#info-container, #map-container {
  width: 100%;
  overflow-x: hidden;
}

#info-container {
  height: calc(100vh - 176px);
  margin-bottom: calc(100vh - 64px);
  flex: 0 0 auto;
}

#map-container {
  z-index: -1;
  position: fixed;
  top: 65px;
  left: 0;
  height: calc(100vh - 65px);
  flex: 1 1 auto;
}

#info-container {
  overflow-y: auto;
  padding: 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#reviews-container h2 {
  color: #d32f2f;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 20px 0 10px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: block;
  list-style-type: none;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 18px;
  position: relative;
}

#reviews-list h4 {
  margin: 0;
}

#reviews-list .rating-date-container {
  overflow: hidden;
  margin-bottom: 10px;
}

#reviews-list .rating {
  color: #fa0;
  float: left;
}

#reviews-list .date {
  float: right;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#restaurant-hours td {
  border-bottom: 1px solid rgba(0, 0, 0, .06);
}

#restaurant-hours td {
  color: #666;
  padding: 8px;
}

@media screen and (min-width: 721px) {
  #info-container {
    width: 50%;
    min-width: 480px;
    max-width: 720px;
    margin-bottom: 0;
    will-change: width, padding;
  }
  #map-container {
    position: static;
    z-index: 0;
    height: 100%;
  }
}
