{
  "extends": ["eslint:recommended", "eslint-config-udacity"],
  "rules": {
    "indent": ["warn", 2],
    "no-console": "warn",
    "require-jsdoc": ["warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": false,
        "ClassDeclaration": false
      }
    }],
    "valid-jsdoc": "warn",
    "no-restricted-syntax": ["warn", "ForInStatement"]
  }
}
