{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended", "eslint-config-udacity"],
  "rules": {
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "no-console": ["error", {
      "allow": ["error"]
    }],
    "require-jsdoc": ["warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": false,
        "ClassDeclaration": false
      }
    }],
    "valid-jsdoc": "warn",
    "no-restricted-syntax": ["warn", "ForInStatement"],
    "comma-dangle": ["warn", "always-multiline"],
    "no-warning-comments": [0],
    "no-fallthrough": 0,
    "no-case-declarations": 0
  }
}
