/* ====================== Map ====================== */
#map-container {
  background-color: #ccc;
  height: 0;
  transition: .4s height;
  width: 100%;
  will-change: height;
}

#map-container.shown {
  height: 280px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-section {
  background-color: #1976d2;
  position: relative;
  width: 100%;
}

#map-enabler {
  border: 0;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  margin: 0;
  padding: 6px 12px;
  position: absolute;
  right: 20px;
  top: 0;
}

.filter-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 720px;
  padding: 24px 12px;
}

.filter-options h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  white-space: nowrap;
}

.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  max-width: calc(100% - 20px);
  padding: 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
}

#restaurants-list li {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  width: 280px;
}

#restaurants-list .restaurant-img {
  background: #ccc no-repeat center;
  display: block;
  flex: 0 0 auto;
  height: auto;
  margin: 0;
  width: 100%;
}

#restaurants-list .restaurant-info {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 24px;
}

#restaurants-list li h1 {
  color: #d32f2f;
  flex: 1 1 auto;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}

#restaurants-list p {
  flex: 0 0 auto;
  font-size: 11pt;
  margin: 0;
}

#restaurants-list li a {
  background-color: #d32f2f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  flex: 0 0 auto;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:hover, #restaurants-list li a:focus {
  background-color: #9a0007;
  text-decoration: underline;
}

@media screen and (min-width: 481px) {
  .filter-options {
    align-items: center;
    flex-direction: row;
    padding: 0;
  }

  .filter-options select {
    max-width: 200px;
  }

  #map-container.shown {
    height: 400px;
  }
}
